.nav-page {
    background-color: #888;
    display: flex;
    justify-content: space-between;
    padding-inline: 20px;
    .nav-logo {
        display: flex;
        align-items: center;
        gap: 10px;
        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }
    .nav-header {
        font-weight: bold;
        font-size: 24px;
    }
    .user-card {
        padding: 10px;
        background: #eee;
        border-radius: 10px;
        margin-bottom: 5px;
    }
    .nav-list  {
        list-style: none;
        margin: 0;
        li {
            display: inline-block;
            padding: 10px;
            margin-inline: 20px;
        }
    }
}

.auth-page {
    display: flex;
    justify-content: space-around;
    .login-page {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 50%
    }
    .public-rooms {
        .card {
            border: 1px solid #eee;
            .card-item {
                padding: 10px;
                border-bottom: 1px solid #ccc;
            }
        }
    }
}
.chat-main {
    display: flex;
    .emp-list {
        width: 20%;
        .card {
            overflow: hidden scroll;
            height: 330px;
        }
    }
    .chat-box {
        width: 80%;
    }
    
}
.chat-error-page {
    text-align: center;
    padding: 10px;
}
.footer-main {
    background-color: #888;
    .footer-data {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .footer-logo > img {
            width: 100px;
            border-radius: 50%;
        }
        .footer-links {
            .section-1  li{
                list-style-type: none;
            }
        }
    }
    .copyright-tag {
        text-align: center;
        color: #444;
        padding-block: 10px;
    }
}
