/* styles.scss */

$primary-color: #007bff;
* {
  margin: 0;
  padding: 0;
}
.App {
  font-family: Arial, sans-serif;
  height: 100vh;
  position: relative;
  .error {
    border:2px solid #f00;
    .icon {
      color: #f00
    }
  }
  .success {
    border:2px solid #5acf5a;
    .icon {
      color: #5acf5a
    }
  }
  .warning {
    border:2px solid #e0e040;
    .icon {
      color: #e0e040
    }
  }
  .notification {
    padding: 10px;
    width: 251px;
    background-color: #595e5e;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    position: fixed;
    right: 35px;
    top: 50px;
    .icon {
      font-weight: bold;
      position: absolute;
      right: 10px;
    }
  }
}

.header {
  background-color: $primary-color;
  color: white;
  padding: 20px;
}

.button {
  background-color: $primary-color;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}
.form-control {
  padding: 10px;
    border-radius: 6px;
    border: 1px solid #ddd;
    margin: 5px;
}
.error-message {
  color: #f00;
  margin: 0 0 10px 8px;
  font-size: 12px;
}
